BODY {
	background: #f0f0f0;
        color: #000000;
	font-size: 14px;
        FONT-FAMILY: Verdana, Arial, Helvetica, Lucida, Sans-Serif;
	text-align: left;
}

A {
	color: #008800;
	text-decoration: none;
}

A:hover {
        color: #880000;
	text-decoration: underline;
}

IMG {
	border: 0px;
}

TD {
	vertical-align: center;
}

TABLE {
	background: #e0e0ff;
	padding: 1px;
	width: 100%;
	align: center;
}

.sign {
	white-space: nowrap;
}

.blackonyellow1 {
	background: yellow;
	color: black;
}
.blackonyellow2 {
	background: yellow;
	color: black;
}
.blackonyellow3 {
	background: yellow;
	color: black;
}
.yellowonblack1 {
	background: black;
	color: yellow;
}
.yellowonblack2 {
	background: black;
	color: yellow;
}
.yellowonblack3 {
	background: black;
	color: yellow;
}
.whiteonred1 {
	background: red;
	color: white;
}
.whiteonred2 {
	background: red;
	color: white;
}
.whiteonred3 {
	background: red;
	color: white;
}

TABLE.main {
	background: #f0f0f0;
	padding: 1px;
	width: 100%;
	align: center;
}

TABLE.plain {
	background: #f0f0f0;
	padding: 1px;
	width: 100%;
	align: center;
}

TR.plain {
	background: #f0f0f0;
	padding: 1px;
}

TD.warning {
	background: #f0f0f0;
	color: #ff0000;
	padding: 1px;
}

TABLE.index {
	background: #e0e0ff;
	padding: 1px;
	width: 160px;
	border-collapse: collapse;
	float: left;
}

TH {
	color: #0000ff;	
	background: #e0e0ff;
	font-weight: bold;
	text-align: center;
}

TR {
	background: #e0ffe0;
	align: center;
	padding: 1px;
}

TR.bottom {
	background: #e0e0ff;
	align: center;
	padding: 1px;
}

.aptname {
	font-size: 8px;
}

.alname {
	font-size: 8px;
}


#csstopmenu, #csstopmenu ul{
padding: 0;
margin: 0;
list-style: none;
}

#csstopmenu li{
float: left;
position: relative;
}

#csstopmenu a{
text-decoration: none;
}

.mainitems{
<!--border: 1px solid black;-->
border-left-width: 0;
background-color: #e0e0ff;
}

.headerlinks a{
margin: auto 8px;
font-weight: bold;
color: #008800;
}

.submenus{
display: none;
width: 22em;
position: absolute;
top: 1.2em;
left: 0;
background-color: #e0e0ff;
border: 1px solid black;
}

.submenus li{
width: 100%;
}

.submenus li a{
display: block;
width: 100%;
text-indent: 3px;
}

html>body .submenus li a{ /* non IE browsers */
width: auto;
}

.submenus li a:hover{
background-color: #c0c0df;
color: #880000;
}

#csstopmenu li>ul {/* non IE browsers */
top: auto;
left: auto;
}

#csstopmenu li:hover ul, li.over ul {
display: block;
}

html>body #clearmenu{ /* non IE browsers */
height: 3px;
}
