DIV.titleback {
    background-image:url("/img/titleback.jpg");
}

BODY {
    background: #e0e0e0;
    color: #000000;
    font-size: 0.9em;
    font-family: Verdana, Arial, Helvetica, Lucida, Sans-Serif;
}

#content {
    background: #e9e9e9;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
    border:1px solid #999;
    text-align: left;
    width:1100px;
    box-shadow : 0px 0px 0.5em 0em grey;
}

#content2 {
    margin:20px;
}

H1 {
    text-align: center;
}

A {
    color: #008800;
    text-decoration: none;
}

A:hover {
    color: #880000;
    text-decoration: underline;
}

IMG {
    border: 0px;
}


LI {
    margin-bottom: 1px;
}

UL {
    margin-bottom: 10px;
}

UL.detail {
    list-style-type: square;
    font-size: 0.9em;
    font-style: italic;
    color: #444444;
}

UL.table {
    list-style-type: none;
}

UL.table LI {
    margin-bottom: 7px;
}


.paragraph_bloc {
    background: #e0ffe0;
    margin-bottom: 20px;
    border:1px solid #999;
}

.header {
    background: #e0e0ff;
    padding: 1px;
    padding: 0px 20px 0px 20px;
    padding-left:auto;
    padding-right:auto;
    border-bottom:1px solid #999;
}

.header .author {
    font-weight: bold;
    float: left;
    margin-left: 10px;
}

.header .date {
    font-style: italic;
    font-weight: bold;
    float: left;
    margin-left: 10px;
}

.header .normal {
    float: left;
    margin-left: 10px;
}

.clear {
    clear: both;
}


.paragraph_bloc .body {
    padding: 0px 20px 0px 20px;
}

.paragraph_bloc H2 {
    background: #e0e0ff;
    margin-top: 0px;
    text-align: center;
    border-bottom:1px solid #999;
}

.paragraph_bloc H3 {
    margin-top: 30px;
}

.paragraph_bloc H4 {
    font-size: 1.0em;
    text-decoration:underline;
}

.center {
    text-align: center;
}

.ok {
    color: #00ff00;
}

.warning {
    color: #ff0000;
}

.sign {
    white-space: nowrap;
}

.conclusion {
    font-style:italic;
}

TD {
    border:1px solid #999;
    vertical-align: center;
}

TD.submit {
    text-align: center;
    padding-top:10px;
    padding-left:auto;
    padding-right:auto;
}

TD.submit * {
    margin-left:auto;
    margin-right:auto;
}

TH {
    color: #0000ff;
    background: #e0e0ff;
    font-weight: bold;
    text-align: center;
    border:1px solid #999;
}

TR {
    background: #e0ffe0;
    padding: 1px;
}

TR.bottom {
    background: #e0e0ff;
    padding: 1px;
    border:1px solid #999;
}

TR.plain {
    background: #f0f0f0;
    padding: 1px;
}


TABLE {
    background: #e0e0ff;
    padding: 1px;
    width:100%;
    border:1px solid #999;
    border-collapse:collapse;
}


TABLE.index {
    background: #e0e0ff;
    padding: 1px;
    width: 160px;
    border-collapse: collapse;
    float: left;
}

TABLE.main {
    background: #f0f0f0;
    padding: 1px;
}

TABLE.plain {
    background: #f0f0f0;
    padding: 1px;
}

TABLE.float {
    float:left;
    margin-left:10px;
    width:48%;
}


.aptname {
    font-size: 8px;
}

.alname {
    font-size: 8px;
}


#csstopmenu, #csstopmenu ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

#csstopmenu li{
    float: left;
    position: relative;
}

#csstopmenu a{
    text-decoration: none;
}

.mainitems{
<!--border: 1px solid black;-->
    border-left-width: 0;
    background-color: #e0e0ff;
}

.headerlinks a{
    margin: auto 8px;
    font-weight: bold;
    color: #008800;
}

.submenus{
    display: none;
    width: 22em;
    position: absolute;
    top: 1.2em;
    left: 0;
    background-color: #e0e0ff;
    border: 1px solid black;
}

.submenus li{
    width: 100%;
}

.submenus li a{
    display: block;
    width: 100%;
    text-indent: 3px;
}

html>body .submenus li a{ /* non IE browsers */
    width: auto;
}

.submenus li a:hover{
    background-color: #c0c0df;
    color: #880000;
}

#csstopmenu li>ul {/* non IE browsers */
    top: auto;
    left: auto;
}

#csstopmenu li:hover ul, li.over ul {
    display: block;
}

html>body #clearmenu { /* non IE browsers */
    height: 3px;
}

label {
    color: #008800;
    text-decoration: none;
    cursor: help;
}

label em {
    color: #ff0000;
}
