.html {
  height: 100%;
}

.enroute {
    background-image:url('/img/enroute.jpg');
    background-size: cover;
    background-position: center; 
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.index-stats-field {
  font-weight: bold;

}

.model-table-thumb {
  height: 30px;
  border: 0;
  padding: 0;
}

.table-responsive {
  background: #ddd;
}

/* http://getbootstrap.com/css/#tables */
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}
