/*###################################################################*/
/*                               FOOTER                              */
/*###################################################################*/

#footer{
  background: url("http://scenery.flightgear.org/template/footer.png") no-repeat scroll 0 0 transparent;
  height: 90px;
  margin: 10px auto 0;
  position: relative;
  width: 1300px;
}

#footer .copyright {
  color: #999999;
  font-size: 11px;
  left: 150px;
  position: absolute;
  top: 15px;
}

#footer .design {
  color: #999999;
  font-size: 11px;
  left: 150px;
  position: absolute;
  top: 30px;
}

#footer .design a {
    color: #999999;
    text-decoration: none;
}

#footer .design a em {
  color: #525C66;
}
