/*###################################################################*/
/*                              HEADER                               */
/*###################################################################*/

#header{
  position: relative;
  width: 960px;
  height: 160px;
  margin-bottom: 6px;
  background: url("../template/header.png") no-repeat;
}

#header h1{
  font-family: "Times New Roman",Times,serif;
  font-size: 40px;
  left: 50px;
  position: absolute;
  top: 10px;
}

#header h1 a, #header h1 a:visited, #header h1 a:hover{
  color: #0F2033;
  text-decoration: none;
}

#header span{
  font-family: "Times New Roman",Times,serif;
  font-size: 14px;
  right: 20px;
  position: absolute;
  bottom: 14px;
  color: #3D454D;
}
